*{
    margin: 0;
    padding: 0;
}

.container{
     height: 100vh;
     width: 100vw;
    background: linear-gradient(90deg, #00b4d8,#90e0ef);
     display: flex;
     justify-content: center;
     align-items: center;
     }

.game{
    height: 60vmin;
    width: 60vmin;
   display: flex;
   flex-wrap:wrap;
   gap: 1.2rem;
}

.box{
    background-color: rgb(255, 255, 255);
    height: 18vmin;
    width: 18vmin;
    border: none;
    box-shadow:  0 2px 6px rgba(0,0,0,0.12);
    font-size: 2rem;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
   
}


.btn{
    width: 30vw;
    height: 10%;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4vh;
}


.reset{
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(34, 33, 33);
    box-shadow:  0 2px 6px rgba(0,0,0,0.12);
   
}


.reset:hover{
    background-color: black;
}
    

#msg{
   position: absolute;       
  top: 5%;                   
  left: 38%;                 
  color: crimson;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}